# Predicci칩n del abandono (BURNOUT) de empleados

## Carga de los datos

El primer paso a seguir es cargar los datos para poder trabajar sobre ellos y construir un modelo que prediga si un empleado va a abandonar la empresa.

In [27]:
import pandas as pd

df = pd.read_pickle('attrition_available_12.pkl')
#value_counts

#jobINvolment = df['JobInvolvement']
#print(jobINvolment.value_counts())

## An치lisis exploratorio de datos

Ver las primeras filas del dataframe para tener una idea de c칩mo est치n estructurados los datos.

In [28]:
df.head()

,hrs,absences,JobInvolvement,PerformanceRating,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
1,7.315971,13.0,2.0,NaN,3.0,2.0,4.0,31.0,Yes,Travel_Frequently,Research & Development,10,1.0,Life Sciences,NaN,NaN,Female,1,NaN,NaN,41890.0,0.0,Y,NaN,8.0,1.0,6.0,3,NaN,1.0,4.0
6,NaN,17.0,3.0,NaN,1.0,3.0,1.0,28.0,Yes,Travel_Rarely,Research & Development,11,2.0,Medical,1.0,7.0,Male,2,Sales Executive,Single,58130.0,2.0,Y,NaN,8.0,1.0,5.0,2,0.0,NaN,0.0
13,NaN,14.0,2.0,3.0,1.0,2.0,2.0,47.0,Yes,Non-Travel,Research & Development,1,1.0,Medical,NaN,14.0,Male,1,Research Scientist,NaN,57620.0,1.0,Y,11.0,NaN,2.0,10.0,4,10.0,9.0,9.0
28,10.713066,6.0,2.0,3.0,4.0,NaN,1.0,NaN,Yes,NaN,Research & Development,1,NaN,NaN,1.0,NaN,Male,2,Research Scientist,Divorced,NaN,3.0,Y,14.0,8.0,1.0,19.0,2,1.0,0.0,NaN
30,9.662808,NaN,2.0,3.0,1.0,2.0,3.0,26.0,Yes,Travel_Rarely,Research & Development,4,NaN,Medical,1.0,31.0,Male,3,Research Scientist,Divorced,68540.0,2.0,Y,11.0,8.0,0.0,5.0,5,3.0,0.0,2.0

Debemos tener en cuenta que lo que queremos predecir es la columna '`attrition`', que mide si el empleado va a dejar el trabajo o no.

Ver los tipos de datos de las columnas

In [29]:
df.dtypes

hrs                        float64
absences                   float64
JobInvolvement             float64
PerformanceRating          float64
EnvironmentSatisfaction    float64
JobSatisfaction            float64
WorkLifeBalance            float64
Age                        float64
Attrition                   object
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                  float64
EducationField              object
EmployeeCount              float64
EmployeeID                 float64
Gender                      object
JobLevel                     int64
JobRole                     object
MaritalStatus               object
MonthlyIncome              float64
NumCompaniesWorked         float64
Over18                      object
PercentSalaryHike          float64
StandardHours              float64
StockOptionLevel           float64
TotalWorkingYears          float64
TrainingTimesLastYear        int64
YearsAtCompany             float64
YearsSinceLastPromotion    float64
YearsWithCurrManager       float64
dtype: object

Contar el n칰mero de instancias y columnas

In [30]:
num_instances = len(df)
num_columns = len(df.columns)

print("N칰mero de instancias: ", num_instances)
print("N칰mero de columnas: ", num_columns)

N칰mero de instancias:  4410
N칰mero de columnas:  31

Ver si hay columnas constantes

In [31]:
const_cols = [col for col in df.columns if df[col].nunique() == 1]
print("Columnas constantes: ", const_cols)

Columnas constantes:  ['EmployeeCount', 'Over18', 'StandardHours']

Hemos visto que las columnas constantes son las siguientes: *EmployeeCount, Over18, StandardHours*. Ya que estas columnas no van a aportar ninguna informaci칩n 칰til al modelo, debemos eliminarlas. Ahora en vez de 31 columnas, tendremos 28.

In [32]:
df = df.drop(const_cols, axis=1)

In [33]:
df = df.drop('EmployeeID', axis=1)

Volvemos a mirar el numero de instancias y columnas

In [35]:
num_instances = len(df)
num_columns = len(df.columns)

print("N칰mero de instancias: ", num_instances)
print("N칰mero de columnas: ", num_columns)

N칰mero de instancias:  4410
N칰mero de columnas:  27

Ver los valores de las columnas constantes

In [34]:
missing_vals = df.isnull().sum() / len(df)
print("Proporci칩n de valores faltantes: ")
print(missing_vals)

Proporci칩n de valores faltantes:
hrs                        0.211791
absences                   0.213152
JobInvolvement             0.169388
PerformanceRating          0.193197
EnvironmentSatisfaction    0.209524
JobSatisfaction            0.170522
WorkLifeBalance            0.008617
Age                        0.211791
Attrition                  0.000000
BusinessTravel             0.172336
Department                 0.186395
DistanceFromHome           0.000000
Education                  0.218594
EducationField             0.180952
Gender                     0.200454
JobLevel                   0.000000
JobRole                    0.216780
MaritalStatus              0.202041
MonthlyIncome              0.192517
NumCompaniesWorked         0.166440
PercentSalaryHike          0.209524
StockOptionLevel           0.170748
TotalWorkingYears          0.186848
TrainingTimesLastYear      0.000000
YearsAtCompany             0.172336
YearsSinceLastPromotion    0.183447
YearsWithCurrManager       0.187075
dtype: float64

Identificar el tipo de problema